@use "global" as *;

.archive__list {
  color: $green;
  font-size: rem(24);
  transition: all 0.3s; 
}

.archive__list:first-of-type {
  margin-top: rem(24);
}


.archive__list-title {
  position: relative;
  cursor: pointer;
  display: list-item;
  transition: all 0.3s;
}

.archive__list-title::marker {
  display: block;
  font-size: 2rem;
}

.archive__list-item::before {
  content: "";
  background-image: url(../images/common/green-arrow.svg);
  display: inline-block;
  width: rem(24);
  height: rem(24);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: rem(32);
  transition: all 0.3s;
}

.archive__list-item {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.archive__list a.archive__list-item::before {
  content: none;
}
