@use "global" as *;

.btn  {
  display: flex;
  align-items: center;
  gap: rem(8);
  text-align: center;
  background-color: $green;
  width: rem(202);
  padding: rem(17) rem(40);
  position: relative;
  transition: all 0.3s;
}

.btn__text {
  font-family: $english-family;
  line-height: calc(22/14);
  font-size: rem(14);
  color: $white;
}

.btn__text::first-letter {
  text-transform: uppercase;
}

.btn__text::before {
  content: "";
  position: absolute;
  width: rem(40);
  height: rem(1);
  background-color: $white;
  top: 51%;
  right: 19%;
}
.btn__text::after {
  content: "";
  position: absolute;
  width: rem(11);
  height: rem(1);
  background-color: $white;
  right: 19%;
  top: 45%;
  transform: rotate(45deg);
}

.btn::after  {
  content: "";
  border: 1px solid $green;
  height: calc(100% - 2px);
  left: 0.2rem;
  position: absolute;
  top: 0.3rem;
  width: calc(100% + 1px);
  z-index: -1;
}

.btn:hover {
  background-color: $white;
  border: 1px solid $green;
}

.btn:hover .btn__text {
  color: $green;
}
.btn:hover .btn__text::before {
  background-color: $green;
}

.btn:hover .btn__text::after { 
  background-color: $green;
}
