@use "global" as *;

.drawer-menu {
  background-color: $green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 8000;
  display: none;
  @include mq(md) {
  }
}

.drawer-menu__inner {
  padding: rem(94) rem(15) rem(111);
  height: 100vh;
  overflow: scroll;
}

.drawer-menu__list-contents {
  display: flex;
  gap: rem(6.4);
  margin-top: rem(-1.6);
}

.drawer-menu___column-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.drawer-menu__nav-list:not(:first-of-type) {
  margin-top: rem(16);
}
