@use "global" as *;

.information-tab__button-list {
  display: flex;
  gap: rem(20);
  justify-content: space-between;
  @include mq(md) {
    gap: rem(90);
  }
}

.campaign-page__button-list {
  max-width: rem(600);
  margin-inline: auto;
  @include mq(md) {
   max-width: 100%;
   width: 100%;
  }
}

.information-tab__button {
  color: $green;
  background-color: $green3;
  padding: rem(10) rem(16);
  font-size: rem(14);
  box-shadow: 2px 4px 9px -5px rgba(0, 0, 0, 1);
  min-width: rem(102);
  position: relative;
  transition: all 0.3s;
  @include mq(md) {
    padding: rem(13) rem(18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    font-size: rem(24);
  }
}

.information-tab__button:hover {
  box-shadow: 2px 4px 9px -5px rgba(0, 0, 0, 1);

}

.information-tab__button.is-active {
  box-shadow: 2px 4px 9px -5px rgba(0, 0, 0, 1);
}

.information-tab__img {
  position: relative;
  width: rem(64);
  height: rem(64);
  display: inline-block;
}

.information-tab__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}

.information-tab__img img:nth-child(2) {
  opacity: 0;
} 

.information-tab__button.is-active img:nth-child(2),
.information-tab__button:hover img:nth-child(2) {
  opacity: 1;
} 

.information-tab__text {
  @include mq(md) {
   margin-left: rem(8);
   white-space: none;
  }
}

.information-tab__button.is-active,
.information-tab__button:hover {
  color: $white;
  background-color: $green;
}

.information-tab__items {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.information-tab__item {
  display: none;
}

.information-tab__item.is-active,
.information-tab__item:hover {
  display: block;
}
