@use "global" as *;

.mv {
  position: relative;
  height: 100vh;
  width: 100%;
}

.mv__swiper {
  // overflow: hidden;
  height: inherit;
  width: 100%;
}

.mv__swiper-wrapper {
  height: inherit;
  width: 100%;
}

.mv__swiper-slide  {
  height: inherit;
  width: 100%;
}

.mv__swiper-slide picture {
  height: inherit;
  object-fit: cover;
  aspect-ratio: 375/667;
  display: block;
  width: 100%;
  @include mq(md) {
   aspect-ratio: 1440/768;
   object-fit: contain;
  }
}

.mv__title {
  position: absolute;
  top: 49.7%;
  left: 53%;
  transform: translate(-50%,-50%);
  z-index: 10;
  text-align: center;
  @include mq(md) {
    top: 50.4%;
    left: 51.5%;
    transform: translate(-50%,-50%);
  }
}

.mv__main-title {
  font-size: rem(40);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.58em;
  color: $white;
  font-weight: 400;
  text-align: center;
  @include mq(md) {
    font-size: rem(80);
    letter-spacing: 0.58em;
  }
}

.mv__sub-title {
  display: inline-block;
  font-size: rem(19);
  line-height: 1;
  text-transform: lowercase;
  letter-spacing: 0.03em;
  color: $white;
  font-family: $english-family;
  text-align: center;
  margin-top: rem(11);
  margin-left: rem(-21);
  @include mq(md) {
    font-size: rem(20);
    letter-spacing: 0.03em;
    margin-left: rem(-36);
    margin-top: rem(22);
  }
}