@use "global" as *;

.mv {
  position: relative;
  height: 100vh;
}

.mv__swiper {
  // overflow: hidden;
}

.p-mv__swiper-slide img {
  width: 100%;
}

.mv__title {
  position: absolute;
  top: 49.7%;
  left: 53%;
  transform: translate(-50%,-50%);
  z-index: 10;
  text-align: center;
  @include mq(md) {
    top: 50.4%;
    left: 51.5%;
    transform: translate(-50%,-50%);
  }
}

.mv__main-title {
  font-size: rem(40);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.58em;
  color: $white;
  font-weight: 400;
  text-align: center;
  @include mq(md) {
    font-size: rem(80);
    letter-spacing: 0.58em;
  }
}

.mv__sub-title {
  display: inline-block;
  font-size: rem(19);
  line-height: 1;
  text-transform: lowercase;
  letter-spacing: 0.03em;
  color: $white;
  font-family: $english-family;
  text-align: center;
  margin-top: rem(11);
  margin-left: rem(-21);
  @include mq(md) {
    font-size: rem(20);
    letter-spacing: 0.03em;
    margin-left: rem(-36);
    margin-top: rem(22);
  }
}